@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Product Management";
}

<h3>List Products</h3>
<a asp-action="Create" asp-controller="Product">CREATE</a>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Slug</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td><img src="~/images/home/@item.Image" width="120" /></td>
                <td>@item.Slug</td>
                <td>@item.Category.Name</td>
                <td>@item.Brand.Name</td>
                <td>@item.Brand.Name</td>
                <td><a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id">EDIT</a></td>
                <td><a class="btn btn-warning btn-sm" asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id">DELETE</a></td>
            </tr>
        }

    </tbody>
</table>